* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

footer {
    display: flex;
    background-color: black;
    color: aliceblue;
}